<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-container">
                <h3 style="text-align: center;">Most Popular Translation Pairs</h3>
                <hr class="separator-pairs">
                <br>
                <div class="grid-container" style="font-family: Raleway;
                font-size: 16px;">
                    <div class="grid-item"><i class="em em-flag-mf" aria-role="presentation" aria-label="St. Martin Flag"></i></div>
                    <div class="grid-item"><i class="em em-es" aria-role="presentation" aria-label="Spain Flag"></i></div>
                    <div class="grid-item"><i class="em em-cn" aria-role="presentation" aria-label="China Flag"></i></div>
                    <div class="grid-item">English - French</div>
                    <div class="grid-item">English - Spanish</div>
                    <div class="grid-item">English - Mandarin</div>    
                    <div class="grid-item"><i class="em em-it" aria-role="presentation" aria-label="Italy Flag"></i></div>
                    <div class="grid-item"><i class="em em-flag-de" aria-role="presentation" aria-label="German Flag"></i></div>
                    <div class="grid-item"><i class="em em-flag-jp" aria-role="presentation" aria-label="Japanese Flag"></i></div>
                    <div class="grid-item">English - Italian</div>
                    <div class="grid-item">English - German</div>
                    <div class="grid-item">English - Japanese</div>  

                  </div>
  </div>