<nav class = "navbar navbar-inverse">
    <div class ="container-fluid">
        <div class ="navbar-header">
            <a style="color:chocolate;font-size: 40px;" class ="navbar-brand"  href ="#"  >KozKoze</a>
        </div>
        <ul class ="nav navbar-nav">
            <li><a style="color:chocolate" href ="#">Text to Text</a></li>
            <li><a style="color:chocolate" href ="#">Speech to Text</a></li>
            <li><a style="color:chocolate" href ="#">Speech to Speech</a></li>
        </ul>
        <ul class = "nav navbar-nav navbar-right">
            <li><a style="color:chocolate" href ="#"><span class ="glyphicon glyphicon-user">SignUP</span></a></li>
            <li><a style="color:chocolate"  href ="#"> Login </span></a></li>
        </ul>

    </div>
</nav>